*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
    color: white;
    cursor: none;
    font-family: "plain light";
}
#loader{
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
    z-index:999;
    cursor: none;
    color: white;
    padding: 20vh 5.5vw;
    
} 
.line{
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:5.9vw;
}
.line h1{
    display: flex;
    text-transform: uppercase;
    font-size: 7.2vw;
    font-weight: 600;
    line-height: 7.5vw;
}
.mousefollower{
    border: 1px solid #FFFFFF;
    background-color: rgb(255, 255, 255);
    scale:2;
    mix-blend-mode: difference;
}
.line h2{
    text-transform:uppercase ;
    margin-left: -3vw;
    font-family: plain light;
    font-size:7.2vw;
    font-weight:600;
    opacity:0;
    animation-duration: 1.88s;
    animation-iteration-count:4;
    position: fixed;
    left: 74%;
   
}
@keyframes animate {
    0%{
        font-family: plain light;
        -webkit-text-stroke: 0.1px white;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: plain light;
        -webkit-text-stroke: 0.1px white;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: silk serif;
        -webkit-text-stroke: 0.3px white;
        font-weight: 500;
        color: transparent;
        opacity: 1;
        
    }  
     100%{
        font-family: silk serif;
        -webkit-text-stroke: 0.3px white;
        font-weight: 500;
        color: transparent;
        opacity: 0;
        
    }    
}
#line-count{
     display: flex;
     align-items: center;
    gap:1.24vw;
    margin-left: 4.7vw;
    font-family: silk serif;
    margin-bottom: 3vw;

}
#line-count h5,#line-count h6{
   font-size: 3.3vw;
   font-weight: 100;
}
#line-count h5{

    width: 5.1vw;
}
h4{
    width: fit-content;
    font-family: plain light;
    font-size: 1vw;
   margin-top: 2.8vw;
   margin-left: 24vw;
   font-weight: 100;
   line-height: 1.5vw;
}
#main{
    position: relative;
    background-color: #151515;
    overflow: hidden;
    z-index: 99;
}
#page0{
    height: 100vh;
    width: 100%;
    background-color: #0b0b0b;
    position: fixed;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    z-index: 100;
    margin-bottom: 8vw;
}
#page1 #nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
/* background-color: green; */
    padding: 3.08vw 5.2vw; 

}
#page1 #nav #nav-2{
    display: flex;
    align-items: center;
    gap: 2.6vw;  
    justify-content: center;
    width: fit-content;
    height: fit-content;
}
#page1 #nav #nav-2::before{
    content:"Obys— Creative Design Agency";
    width: 5vw;
    position: fixed;
    left: 28%;
    font-family: plain;
    font-weight: 300;
    font-size: 1vw;
    top: 7.6%;
    line-height: 1.05vw;
    letter-spacing: -0.1px;

}
#menu{
    position: absolute;
    /* background-color: red; */
    padding: 1vw;
    width: 3.8vw;
    height: 3.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left:4%
    
}

#logo{
    position: relative;
    left:4%
}
#page1 #nav #nav-2 h2{
    font-size: 1vw;
    font-weight: 300;
    font-family: plain;
}
.hero{
    
    overflow: hidden;
    height: fit-content;
   width: 80%;
    line-height: 7.1vw;
    margin-left: 27.99%;
    font-family: plain ;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}
#hero3 h2{
    font-size: 7.15vw; 
    text-transform: uppercase;
    font-family: plain;
    font-weight: 500;  
    text-decoration: underline;
    text-decoration-thickness: 10px;
    text-underline-offset: 15px;  
    height: fit-content;
    margin-bottom: 0.98vw;
}

#hero3 h3{
    font-size: 7.2vw; 
    text-transform: uppercase;
    font-family: plain;
    font-weight: 500;
    margin-left: 0.8vw;  
    
}

#hero3 h2:hover{
    -webkit-text-stroke: 1px white;
    color: transparent;
    text-decoration: none;
    transition: all 0.3s ease;
   
}
.superhero h6{
    font-family: silk serif;
    position: absolute;
    left: 18.7%;
    font-size: 3.26vw;
    top: 32.48%;
    font-weight: 400;
    
}
.hero h1{
    /* letter-spacing:-0.01vw; */
    font-size: 7.42vw;
    text-transform: uppercase;
    font-weight: 500;
}
.hero:nth-child(3){
    margin-top: 7.9vw;
}
.superhero .yellow{
    /* display: none; */
    position: absolute;
    width: 23vw;
    height: 31vw;
    background: linear-gradient(to bottom, #3F7DF4 50%, yellow 50%);
}
.superhero #blue{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20%;
   width: 62vw;
   height: 31vw;
    /* background-color: green; */
}
#scroll{
   position: fixed;
    /* background-color: red; */
    width: 3.4vw;
    height: 1.64vw;
    bottom: 11.4%;
    display: flex;
    left:4.8%;
    justify-content: center;
    align-items: center;
      overflow: hidden;
}
#scroll h3{
    font-size: 1vw;
    font-family: plain;
    font-weight: 500;
    color: rgb(88, 88, 88);
    animation-name: scrlanim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes scrlanim {
    0%{
        transform: translateY(-105%);
    }
    48%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(130%);
    } 
}
#page2{
    height: 100vh;
    background-color:#151515;
    padding-top: 6vh;
    position: relative;
    margin-bottom: -4vw;
}
#cont-vid{
    height: 69vh;
    width: 71vw;
    position: relative;
    left: 30%;   
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
    background-size: cover;
    background-position: center;
}
#cont-vid video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}
#page2 .vid-cursor{
    position: absolute;
    top: -15%;
    left: 67%;
    z-index: 14;
    height: 9.9vw;
    width: 9.9vw;
    background-color: #FFA63D;
    border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
 #page2 .vid-cursor{
    font-size: 1.7vw;

 }
/* #page2 .vid-cursor #pause{
    font-size: 2.4vw;
    display: none;
 } */
#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 8vh 3.9vw;
    margin-bottom: 22vh;
}
#page3 .underline{
  margin-top: 5vw;
    width: 65vw;
    height: 1px;
    background-color: white;
    margin-bottom: 6vw;
     /* transform-origin: right;   👈 important for right-to-left */
  /* transform: scaleX(0);    */
    /* animation-name: underlin; */
    /* animation-duration: 2s;
    animation-delay: 0.8s; */
    /* animation-iteration-count: infinite; */
    /* display: none; */
}
#img-div-cont{
    /* background-color: red; */
    /* padding: 1vw; */
    position: relative;
    height: fit-content;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;

}
.img-div{
    width: 31vw;
    height: 39vw;
    background-color: white;
    overflow: hidden;
    flex-shrink: 0;
    margin: 1.5vw;
    display: flex;
    justify-items: center;
    margin-bottom: 3vw;
    
}
.img-div:nth-child(1){
    width: 23vw;
    height: 28.8vw;
}
.img-div:nth-child(3){
    width: 23vw;
    height: 28.8vw;
    align-items: flex-end;
}
.img-div:nth-child(4){
    width: 30vw;
    height: 45vw;
}
.img-div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}
.page3-circle1{
    width:23.1vw;
    height: 23.1vw;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    /* background-color: white; */
    margin-left: 5.4vw;
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-top: 34.7vh;
    position: relative;
}
#pro-circle{
    width:23vw;
    height: 23vw;
    border-radius: 50%;
   background-color: #FFA63D;
    position: relative;
    display: flex;
    align-items: center ;
    justify-content: center;
    transition: all ease 0.5s;
    margin-top: 19vh;
    margin-bottom: 17vh;
}
#pro-circle p{
    font-weight: 500;
    font-family: plain;
    font-size: 1vw;
}
#pro-circle p span{
    font-family: silk serif;
    font-weight: 500;
}
#pro-circle:hover{
    scale:0.9;
}
.page3-circle1 svg{
    height: 33.5%;
}
.page3-circle2{
    width:23vw;
    height: 23vw;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    position: relative;
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-top: 32vh;
    margin-right: 20;
}
.page3-circle2 svg{
    height: 38%;
    rotate: -90deg;
}
.page3-circle3{
    width:23.1vw;
    height: 23.1vw;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    /* background-color: white; */
        /* margin-left: 10.4vw;
        margin-right: 10.4vw; */
    padding-right: 8vw;
    display: flex;
    align-items: center ;
    justify-content: center;
    /* margin-top: 34.7vh; */
    position: relative;
}
.page3-circle3 svg{
    height: 33.5%;
}
.circle-in {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0;
    border-radius: 50%;
    text-align: justify;
    padding: 2vw;
    transition: all ease 0.3s;
}

.circle-in p {
    font-size: 1vw;
    font-weight: 500;
    font-family: plain;
    transition: all ease 0.4s;
}

/* Hover State */
.page3-circle1:hover .circle-in {
    scale: 1;
}

.page3-circle1:hover .circle-in p {
    scale: 1;
    transition-delay: 0.6s;
}
.page3-circle2:hover .circle-in {
    scale: 1;
}

.page3-circle2:hover .circle-in p {
    scale: 1;
    transition-delay: 0.6s;
}
.page3-circle3:hover .circle-in {
    scale: 1;
}

.page3-circle3:hover .circle-in p {
    scale: 1;
    transition-delay: 0.6s;
}
#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    margin-bottom: 20vh;

}
#page4-cont,#page6-cont,#page3-cont{
    margin-left:28%;
    position: relative;
    width: 78%;
}
#page4-cont h1,#page6 #page6-cont h1,#page3-cont h1{
    text-transform: uppercase;
    font-size: 7.4vw;
    font-family: plain;
    font-weight: 500;
}
#page4 .underline{
    margin-top: 5vw;
    width: 67vw;
    height: 1px;
    background-color: white;
}
#page4-cont>p{
    line-height: 2.62vw;
    font-family: plain;
    margin-top: 4vw;
    font-size: 2.4vw;
    font-weight: 300;
    letter-spacing: -0.09vw;
    /* background-color: red; */
    width: fit-content;
}
#pg4-image{
    position: relative;
   margin-top: 4vw;
   height: 70vw;
   width: 55.9vw;
   /* background-color: red; */
}
#pg4-image .imm{
    height: 41vw;
    width: 32.5vw;
    /* background-color: red; */
    overflow: hidden;
    margin-right: 2.5vw;
}
#pg4-image .imm img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 107.8%;
}
#pg4-image{
    display: flex;
}
#img-cont #one{
    margin-top: -8px;
    font-size:0.98vw;
    margin-bottom: 1.34vw;
    line-height: 1.58vw;
    padding: 0 -0.1vw;
    font-family: plain;
    font-weight: 400;
    color: #FFFFFF;

}
#img-cont #two{
    font-family: plain;
    font-size:0.98vw;
    font-weight: 400;
    margin-bottom: 1.6vw;
    line-height: 1.58vw;
    padding: 0 -0.1vw;
    color: #FFFFFF;

}
#pg4-panel{
    position: absolute;
    left: 41.9%;
    top: 39%;
    height: 42.4vw;
    width: 32.5vw;
    background-color: #3F7DF4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.panel-cont{
    height: 7vw;
    width: 25vw;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(213, 213, 213);
}
.panel-cont:nth-child(5){
    margin-bottom: 3vw;
}
.panel-cont .panel-desx>h6{
    font-size: 1vw;
    font-family: plain;
    font-weight: 200;
    line-height: 18px;
    
}
.panel-desx{
    width: 10vw;
    height: fit-content;
    margin-left: 1vw;
}
.panel-cont>h2{
    font-family: plain;
    font-weight: 300;
    font-size: 1.59vw;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    height: 2.5vw;
}

#page4 .underline-2{
    margin-top: 8vw;
    width: 67vw;
    height: 1px;
    background-color: white;
    top: 100%;
}
#page4 h5{
    font-size: 1vw;
    font-family: plain;
    font-weight: 300;
    height: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
#page4-cont>h6,#page6-cont>h6, #page3-cont>h6{
    position: absolute;
    font-family: silk serif;
    position: absolute;
    left: -12.4%;
    font-size: 3.26vw;
    top:0.78%;
    font-weight: 400;
}
#page5{
    min-height: 100vh;
    width: 100%;
    /* padding: 2.9vw 0;     */
    background-color: #151515;
    position: relative;
}
#scroller-wraper{
    overflow: hidden;
  width: 100%;
}
.scroller-track {
    height: 8.5vw;
  display: flex;
  white-space: nowrap;
   animation: scroll-2 10s linear infinite;

}
.scroller-row.scroll-right .scroller-track {
  animation: scroll 10s linear infinite;
}
.scroller-track h1{
    font-size: 7.7vw;
  -webkit-text-stroke: 1px #FFFFFF;
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  margin-right: 1.8vw;
}
.scroller-track h1 span{
    font-family: silk serif;
      
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes scroll-2 {
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}
#page6{
    position: relative;
    background-color: #151515;
    width: 100%;
    height: 110vh;
    /* padding: 3vw 0; */
    /* margin-bottom: -4vw; */
}
#page6-cont #i{
    position: absolute;
    top: 0;
    width: 6vw;
    height: 6vw;
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3%;
    left: 65.4%;
}
#page6 .underline{
    margin-top: 5vw;
    width: 67vw;
    height: 1px;
    background-color: white;
}
#info{
    /* background-color: red; */
    height: 32vw;
    width: 67vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inside-info{
    display: flex;
    justify-content: space-between;
    width:60vw ;
    height: 17vw;
    
}

#info #social{
    width:14vw;
    height: 15vw;
    /* background-color: green; */
    
}
#social h6{
    font-family: plain;
     font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 1.9vw;
}
#social h3{
    font-family: plain;
    font-size: 1.7vw;
    font-weight:300;
    line-height: 28.4px;
    /* background-color: red; */
    
}
#address{
    /* background-color: yellow; */
    width: 19vw;
    height: 8vw;
    margin-left: 7.5vw;
}
#address h6{
    font-family: plain;
     font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 1.9vw;
}
#address h3{
      font-family: plain;
    font-size: 1.7vw;
    font-weight:300;
    line-height: 28.4px;
}
#mail{ 
    width: 14vw;
    height: 6vw;
}
#mail h6{
    font-family: plain;
     font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 1.9vw;
}
#mail h3{
      font-family: plain;
    font-size: 1.7vw;
    font-weight:300;
    line-height: 28.4px;
    text-decoration: underline;
}
#page6 .underline-2{
    width: 67vw;
    height: 1px;
    background-color: white;
}
#page6-cont h5{
    /* margin-bottom: 50vw; */
    font-size: 1.09vw;
    font-weight: 300;
    width: fit-content;
    font-family: plain;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.6px;
    /* background-color: red; */
    
}
._canvas_container{
z-index: 999999 !important;
pointer-events: none;
}
#flag{
    height: 25vw;
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 9999; */
    opacity: 0;
}
#hero3{
    /* background-color: red; */
    z-index: 999;
}

